<!DOCTYPE html>
<html>
  <head>
    <title>Request Inspector</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    {{#each requests}}
      <div class="request">
        <div><h3>Request {{this.url}}</h3></div>
        <div>
          <p>Events:</p>
          <div class="events-container">
          {{#each this.events}}
            <div class="event">
              <div class="details">
                <div>name: {{this.name}}</div>
                <div>
                  {{#each this.details}}
                      <div>{{@key}}: {{this}}</div>
                  {{/each}}
                </div>
              </div>
              <div class="timeline">
                <div class="timeline-bar" style="margin-left: {{this.left}}%; width: {{this.width}}%;"></div>
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </body>
</html>
