<!DOCTYPE html>
<html>
  <head>
    <title>Request Inspector</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    {{#each requests}}
      <div class="request">
        <div><h3>Request {{this.url}}</h3></div>
        <div>Duration: {{this.duration}}ms</div>
        <div>
          <p>Events:</p>
          <div class="events-container">
          {{#each this.events}}
            <div class="event" title="Duration: {{this.duration}}ms&#013;{{#each this.details}}&#013;{{@key}}: {{this}}{{/each}}" >
              <div class="details">
                <div>{{this.name}}</div>
              </div>
              <div class="duration">{{this.duration}}ms</div>
              <div class="timeline">
                <div class="timeline-bar" style="margin-left: {{this.left}}%; width: {{this.width}}%;"></div>
              </div>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </body>
</html>
